/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

/*-------------------- CSS RESET ---------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------- ROOT VARIABLES --------------------------------------- */
:root {
    --green-color: #06A816;
    --orange-color: #E75D02;
    --black-color: #000000;
    --white-color: #ffffff;
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}
html {
    background-color: var(--white-color);
}
body {
    font-family: 'Habibi', serif;
}
header {
    width:100%;
    color: var(--white-color);
    background-color: var(--green-color);
    padding-bottom: 20px;
}
footer {
    width:100%;
    color: var(--green-color);
    background-color: var(--white-color);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
nav li {
    list-style:none;
}
h1, h2, h3 {
    font-family: 'Irish Grover', cursive;
}
h1 {
    font-size: 2rem;
    line-height:2.5em;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}
h2 {
    font-size: 1.75rem;
    line-height:1.75em;
    font-weight: bold;
}
h3 {
    font-size: 1.5rem;
    font-weight: bold; 
}
h3, p, a {
    line-height:1.25em;
}
a {
    background-color: var(--orange-color);
    border: 2px solid #ffffff
}
h3 {
    text-align: center;
}
.image{
    position: relative;
    display: inline-block;
}
.image > p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--white-color);
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
}
#contact-hours {
    background-color: var(--green-color);
    color: white;
    text-align: center;
    padding: 40px 20px;
    font-family: 'Irish Grover', cursive;
}

#contact-hours h3 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#contact-hours p {
    font-size: 1.2rem;
    line-height: 1.8;
}
#section-buttons {
    display: none;
}
#scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 0px;
    background-color: var(--orange-color);
    color: var(--white-color);
    border: 2px solid var(--white-color);
    padding: 10px 10px; 
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

#buttons li a {
    border: none;
    color: var(--white-color);
    text-decoration: none;
}

header ul li a {
    border: none;
    color: var(--white-color);
    text-decoration: none;
}

@media screen and (min-width: 428px) {
    main {
      max-width: 428px;
    }
    header {
        text-align: center;
        background-color: var(--green-color);
        padding: 20px;
        color: white;
        font-family: 'Irish Grover', cursive;
    }
    header h1 {
        font-size: 3rem;
        margin-bottom: 10px;
    }
    header p {
        font-size: 1.5rem;
        font-style: italic;
        margin-bottom: 30px;
        font-family: 'Habibi', serif;
    }
    ul li {
        background-color: var(--orange-color);
        color: var(--white-color);
        font-size: 1.5rem;
        padding: 15px;
        margin: 10px auto;
        width: 200px;
        text-align: center;
        border-radius: 10px;
        font-family: 'Habibi', serif;
        cursor: pointer;
    }
    #header-buttons {
        display: none;
    }
    #section-buttons {
        display: block;
        background-color: var(--white-color);
        text-align: center;
        padding: 30px 0;
    }
    #section-buttons li {
        width: 300px;
        font-size: 1.2rem;
    }
    .food-section {
        max-width: 900px;
        margin: 0 auto;
        padding: 0 20px;
        text-align: center;
    }
    
    .food-section h3 {
        font-family: 'Irish Grover', cursive;
        margin-bottom: 20px;
    }
    
    .food-section .image {
        display: inline-block;
        margin: 20px;
        text-align: center;
    }
    
    .food-section .image img {
        width: 100%;
        max-width: 300px;
        height: auto;
        display: block;
        margin: 0 auto 10px
    }
    
    .food-section .image p {
        font-family: 'Habibi', serif;
        font-size: 1.2rem;
        margin: 0;
    }
    p {
        padding: 0 10px;
    }

    .food-section .image img {
        max-width: 100%;
    }
  }
/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media screen and (min-width: 834px) {
    main {
      max-width: 834px;
    }
    #contact-hours {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        text-align: center;
    }
    #header-buttons {
        display: none;
    }
    #buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: var(--white-color);
        padding: 30px 0;
    }
    #section-buttons li {
        width: 325px;
        font-size: 1.2rem;
    }
    #header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    #header p {
        margin-top: 30px;
    }
}
/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media screen and (min-width: 1280px) {
    main {
      max-width: 1280px;
    }
    #section-buttons {
        display: none;
    }
    #header-buttons {
        display: block;
        text-align: center;
        padding: 30px 0;
    }
    header {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        padding: 20px;
        background-color: var(--green-color);
    }
    #header h1, #header p {
        grid-column: 1;
    }
    #header-buttons {
        grid-column: 2;
        justify-self: end;
        padding: 20px 0;
    }
    #header-buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    #header-buttons li {
        border: 2px solid var(--white-color);
        padding: 10px 10px; 
        font-size: 16px;
        border-radius: 5px;
        width: 300px;
    }
    header div p {
        white-space: nowrap;
    }
    .food-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    #contact-info {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 10px;
    }
    #hours-info {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 10px;
    }

  }
/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/
@media screen and (min-width: 1440px) {
    main {
      max-width: 1440px;
    }
    .food-section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
  }